{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div>
    
       <!--     
            {% for row in data %}
            <tr>
                <td>{{ row.HSHD_NUM }}</td>
                <td>{{ row.BASKET_NUM }}</td>
                <td>{{ row.DATE }}</td>
                <td>{{ row.PRODUCT_NUM }}</td>
                <td>{{ row.DEPARTMENT }}</td>
                <td>{{ row.COMMODITY }}</td>
                <td>{{ row.SPEND }}</td>
                <td>{{ row.UNITS }}</td>
                <td>{{ row.STORE_R }}</td>
                <td>{{ row.WEEK_NUM }}</td>
                <td>{{ row.YEAR }}</td>
                <td>{{ row.L }}</td>
                <td>{{ row.AGE_RANGE }}</td>
                <td>{{ row.MARITAL }}</td>
                <td>{{ row.INCOME_RANGE }}</td>
                <td>{{ row.HOMEOWNER }}</td>
                <td>{{ row.HSHD_COMPOSITION }}</td>
                <td>{{ row.HH_SIZE }}</td>
                <td>{{ row.CHILDREN }}</td>
            </tr>
            {% endfor %}
        </table> -->

        <div class="row">
            <div id='totalSpentAgeBar' class='chart g-col-6'style="width: 25%;">
                <script type='text/javascript'>
                    var pie = {{totalSpentAgeBar | safe}};
                    Plotly.plot('totalSpentAgeBar',pie,{});
                </script>
            </div>
            <div id='totalSpentMarBar' class='chart g-col-6'style="width: 25%;">
                <script type='text/javascript'>
                    var pie = {{totalSpentMarBar | safe}};
                    Plotly.plot('totalSpentMarBar',pie,{});
                </script>
            </div>
            <div id='totalSpentIncBar' class='chart g-col-6'style="width: 25%;">
                <script type='text/javascript'>
                    var pie = {{totalSpentIncBar | safe}};
                    Plotly.plot('totalSpentIncBar',pie,{});
                </script>
            </div>
            <div id='totalSpentChiBar' class='chart g-col-6'style="width: 24%;">
                <script type='text/javascript'>
                    var pie = {{totalSpentChiBar | safe}};
                    Plotly.plot('totalSpentChiBar',pie,{});
                </script>
            </div>
        </div>
        
        <div class="row">
            <div id='averageSpendAgePie' class='chart g-col-6'style="width: 25%">
                <script type='text/javascript'>
                    var pie = {{averageSpendAgePie | safe}};
                    Plotly.plot('averageSpendAgePie',pie,{});
                </script>
            </div>
            <div id='averageSpendMarPie' class='chart g-col-6'style="width: 25%">
                <script type='text/javascript'>
                    var pie = {{averageSpendMarPie | safe}};
                    Plotly.plot('averageSpendMarPie',pie,{});
                </script>
            </div>
            <div id='averageSpendIncPie' class='chart g-col-6'style="width: 25%">
                <script type='text/javascript'>
                    var pie = {{averageSpendIncPie | safe}};
                    Plotly.plot('averageSpendIncPie',pie,{});
                </script>
            </div>
            <div id='averageSpendChiPie' class='chart g-col-6'style="width: 24%">
                <script type='text/javascript'>
                    var pie = {{averageSpendChiPie | safe}};
                    Plotly.plot('averageSpendChiPie',pie,{});
                </script>
            </div>
        
    </div>
    <div class="container">
        <table id="detailedTable" class="table table-striped">
            <thead>
                <tr>
                    <th>Household Number</th>
                    <th>Basket Number</th>
                    <th>Date</th>
                    <th>Product Number</th>
                    <th>Department</th>
                    <th>Commodity</th>
                    <th>Spend</th>
                    <th>Units</th>
                    <th>Store Region</th>
                    <th>Week</th>
                    <th>Year</th>
                    <!--<th>L</th>
                    <th>Age Range</th>
                    <th>Marital</th>
                    <th>Income Range</th>
                    <th>Homeowner</th>
                    <th>Household Composition</th>
                    <th>Household Size</th>
                    <th>Children</th>-->
                </tr>
            </thead>
            <tbody>
            </tbody>
    </table>
    </div> 

    <script>
        $(document).ready(function () {
          $('#detailedTable').DataTable({
            ajax: '/dasboard/table/data',
            serverSide: true,
            columns: [
              {data: 'HSHD_NUM', orderable: true, searchable: true},
              {data: 'BASKET_NUM', orderable: true, searchable: false},
              {data: 'DATE', orderable: true, searchable: false},
              {data: 'PRODUCT_NUM', orderable: true, searchable: false},
              {data: 'DEPARTMENT', orderable: true, searchable: false},
              {data: 'COMMODITY', orderable: true, searchable: false},
              {data: 'SPEND', orderable: false, searchable: false},
              {data: 'UNITS', orderable: false, searchable: false},
              {data: 'STORE_R', orderable: false, searchable: false},
              {data: 'WEEK_NUM', orderable: false, searchable: false},
              {data: 'YEAR', orderable: false, searchable: false}
              /*{data: 'L', orderable: false, searchable: false},
              {data: 'AGE_RANGE', orderable: false, searchable: false},
              {data: 'MARITAL', orderable: false, searchable: false},
              {data: 'INCOME_RANGE', orderable: false, searchable: false},
              {data: 'HOMEOWNER', orderable: false, searchable: false},
              {data: 'HSHD_COMPOSITION', orderable: false, searchable: false},
              {data: 'HH_SIZE', orderable: false, searchable: false},
              {data: 'CHILDREN', orderable: false, searchable: false}*/
            ],
          });
        });
      </script>
</div>

{% endblock %}